.container{
	background: #96DF69;
	border-radius: 10px;
	width: 350px;
	border: 2px black solid;
}

.container_title{
	display:table;
	margin:auto;
}

.container_elements{
	display:table;
	margin:auto;
}

.container_elements > *{
	display:table-cell;
}

.activate{
	display: table-cell;
    width: 30px;
    background: green;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 100px;
}

.disable{
	display: table-cell;
    width: 30px;
    background: red;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 100px;
}